@font-face {
  font-family: Gothamblack;
  src: url(../fonts/GothamBlackRegular.ttf); }

@font-face {
  font-family: Gothamblack;
  src: url(../fonts/GothamBlackRegular.ttf); }

* {
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: url(../img/sprite/bg-sprite.png); }

.wrap {
  min-height: inherit;
  width: 940px;
  margin: 0 auto; }

.header {
  background: url(../img/sprite/bg-header.png);
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 11px; }
  .header .wrap {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.top-menu li {
  display: inline-block; }
  .top-menu li a {
    color: #dddddd;
    font-size: 12px; }
    .top-menu li a::after {
      content: "";
      display: inline-block;
      height: 8px;
      width: 1px;
      background: #dddddd;
      margin: 0 9px 0 9px; }

.link {
  color: #dddddd; }
  .link a {
    color: #dddddd; }
    .link a:hover {
      color: #fff; }
  .link .rrs {
    text-transform: uppercase; }
  .link .email {
    text-transform: capitalize; }

.rrs-link-img {
  margin-left: 8px; }

.logo-line {
  min-height: 140px; }
  .logo-line .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  font-family: "Gothamblack", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  color: #333333; }

.slogan {
  font-family: Helvetica,sans-serif;
  color: #999999; }

.banner {
  height: 60px;
  width: 468px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d5d5d5; }

.main-menu {
  border-radius: 3px 3px 0 0;
  font-size: 0;
  background: url("../img/sprite/bg-nav.png"); }
  .main-menu li {
    padding-top: 1px;
    display: inline-flex;
    height: inherit; }
    .main-menu li a {
      box-sizing: border-box;
      position: relative;
      border-left: 1px solid #595959;
      border-right: 1px solid #2d2d2d;
      font-size: 13px;
      text-transform: capitalize;
      padding: 18px 22px;
      color: #dddddd; }

.border1::after {
  content: "";
  border-left: 1px solid #595959;
  position: absolute;
  height: 100%;
  top: 0;
  right: -2px; }

.news-bar {
  font-size: 0;
  min-height: 380px;
  background: url("../img/sprite/bg-new-bar.png");
  padding: 30px 25px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.main-img {
  display: inline-block;
  height: 320px;
  width: 430px;
  background: #eaeaea; }

.info-text {
  display: inline-block;
  height: 176px;
  width: 430px;
  text-overflow: ellipsis; }

.right-bar {
  padding-left: 30px; }

.slider-bar {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  .slider-bar .slider-img {
    height: 65px;
    width: 78px;
    background: #fff;
    display: inline-block; }

.bread-crumbs li {
  display: inline-block; }
  .bread-crumbs li .crumbs {
    font-size: 12px;
    color: #7f7f7f; }
    .bread-crumbs li .crumbs:hover {
      color: #cccccc; }
    .bread-crumbs li .crumbs::before {
      content: '//';
      margin: 0 4px 0 4px; }

.title-new {
  margin-top: 23px;
  font-size: 22px;
  color: #dddddd; }

.text-news {
  margin-top: 20px;
  font-size: 12px;
  display: block;
  height: 55px;
  overflow: hidden; }
