@import"fonts";

$orangecolor:#cc6600;
$hoverborder:#999999;
$textcolor:#333333;
$toptext:#dddddd;
$gotham:"Gothamblack",Tahoma,Arial,sans-serif;
$border:#d5d5d5;
$border-right:#2d2d2d;
$border-left:#595959;
$slider-color:#eaeaea;