@import "var";
@import "fonts";


*{
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
  background: url(../img/sprite/bg-sprite.png);
}
.wrap{
  min-height: inherit;
  width: 940px;
  margin: 0 auto;
}
.header{
  background: url(../img/sprite/bg-header.png);
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 11px;
    .wrap{
      min-height:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
.top-menu{

  li{

    display: inline-block;



     a{
       color: $toptext;
       font-size: 12px;
       &::after{
         content: "";
         display: inline-block;
         height: 8px;
         width: 1px;
         background: $toptext;
         margin: 0 9px 0 9px;

       }

     }
  }
}
.link{
  color: $toptext;
    a{
      color: $toptext;
        &:hover{
          color:#fff;
        }
    }
    .rrs{
      text-transform: uppercase;
    }
    .email{
      text-transform: capitalize;
    }

}
.rrs-link-img{
  margin-left:8px;

}
.logo-line{
  min-height: 140px;
   .wrap{
     display: flex;
     justify-content:space-between;
     align-items:center;
   }
}
.logo{
  font-family:$gotham;
  text-transform: uppercase;
  font-size:44px;
  color: $textcolor;
}
.slogan{
  font-family:Helvetica,sans-serif;
  color: $hoverborder;
}
.banner{
  height: 60px;
  width: 468px;
  background: #ffffff;
  box-sizing: border-box;
  border:1px solid $border;
}

.main-menu{
  border-radius: 3px 3px 0 0;
  font-size:0;
  background: url("../img/sprite/bg-nav.png");
  li{
    padding-top:1px;
    display: inline-flex;
    height: inherit;
    a{
      box-sizing: border-box;
      position: relative;
      border-left: 1px solid $border-left;
      border-right: 1px solid $border-right;
      font-size:13px;
      text-transform: capitalize;
      padding: 18px 22px;
      color: $toptext;
    }
  }
}

.border1::after{
  content:"";
  border-left:1px solid $border-left;
  position: absolute;
  height: 100%;
  top: 0;
  right: -2px;
}
.news-bar{
  font-size: 0;
  min-height:380px;
  background: url("../img/sprite/bg-new-bar.png");
  padding:  30px 25px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;


  }


.main-img{
  display: inline-block;
  height: 320px;
  width: 430px;
  background: $slider-color;
}
.info-text{
  display: inline-block;
  height: 176px;
  width: 430px;
  text-overflow: ellipsis;

}
.right-bar{
  padding-left: 30px;

}
.slider-bar {
  margin-top:45px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  .slider-img {
    height: 65px;
    width: 78px;
    background: #fff;
    display: inline-block;
  }
}
.bread-crumbs{

  li{
    display: inline-block;
    .crumbs{
      font-size: 12px;
      color: $crumbs-color;
      &:hover{
        color: $crumbs-hover;
      }
      &::before{
        content: '//';
        margin:0 4px 0 4px;
      }
    }
  }
}

.title-new{
  margin-top: 23px;
  font-size:22px;
  color: $toptext;
}

.text-news{

  margin-top:20px;
  font-size:12px;
  display:block;
  height: 55px;
  overflow: hidden;

}
































